extends layout

block content
    if category
        p#page-banner.container=category
    else
        p#page-banner.container All Challenges
    #chall-list.container
        table.chall-table
            thead
                tr
                    th(style="width:10%; font-size: 18px") ID
                    th(style="width:80%; font-size: 18px") Title
                    th.centerText(style="width:10%; font-size: 18px") FirstBlood
                    th.centerText(style="width:10%; font-size: 18px") Solves
            tbody
                if !metas.length
                    tr
                        td
                        td(style="font-size: 20px") No Problem Yet!!
                else
                    for meta in metas
                        tr
                            td.meta #{meta.id}
                            td.meta
                                a(href='/chall/'+meta.id) #{meta.title}
                            td.meta.centerText
                                a(href='/user/'+meta.fbUser) #{meta.fbUser}
                            td.meta.centerText #{meta.solves}